# 시군구별 관광기후지수 조회 (<a href="https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15056912#tab_layer_detail_function">API Documentation Link</a>)

---

## params
- ServiceKey : 공공데이터포털에서 받은 인증키 (decodekey)
- pageNo : 페이지번호
- numOfRows : 한 페이지 결과 수
- dataType : 요청자료형식(XML/JSON)
- CURRENT_DATE : 2018-12-31 00시부터 조회
- DAY : CURRENT_DATE부터 입력값까지의 자료 호출
- CITY_AREA_ID : 시군구 아이디

## response
```json
    {
      "header": {
        "resultCode": "string",
        "resultMsg": "string"
      },
      "body": {
        "numOfRows": "string",
        "pageNo": "string",
        "totalCount": "string",
        "dataType": "string",
        "items": {
          "item": {
            "tm": "string",
            "totalCityName": "string",
            "doName": "string",
            "cityName": "string",
            "cityAreaId": "string",
            "kmaTci": "string",
            "TCI_GRADE": "string"
          }
        }
      }
    }
```

## meanings
|---------------|------------------|
| tm            | 예보시각         |
| totalCityName | 전체도시이름     |
| doName        | 도단위이름       |
| cityName      | 시군구이름       |
| cityAreaId    | 시군구 아이디    |
| kmaTci        | 관광기후지수     |
| TCI_GRADE     | 관광기후지수등급 |

In [1]:
import pandas as pd
import requests
from common import *

In [2]:
def get_api(city_area_id: str) -> list[dict]:
    url = 'http://apis.data.go.kr/1360000/TourStnInfoService1/getCityTourClmIdx1'
    params = {'ServiceKey': get_servicekey(),
              'pageNo': '1',
              'numOfRows': '100',
              'dataType': 'JSON',
              'CURRENT_DATE': get_current_date(),
              'DAY': '14',
              'CITY_AREA_ID': city_area_id}

    response = requests.get(url=url, params=params).json()

    if response['response']['header']['resultCode'] != '00':
        ErrorMessage = response['response']['header']['resultMsg']
        raise GetApiError(ErrorMessage)

    return response['response']['body']['items']['item']

In [3]:
df_inform = pd.read_csv('informations.csv', encoding='cp949')
df_inform

        시군구 아이디  전체도시이름 도단위이름 시군구이름
0    2717000000   대구 서구    대구    서구
1    2726000000  대구 수성구    대구   수성구
2    2711000000   대구 중구    대구    중구
3    3023000000  대전 대덕구    대전   대덕구
4    3011000000   대전 동구    대전    동구
..          ...     ...   ...   ...
225  2720000000   대구 남구    대구    남구
226  2729000000  대구 달서구    대구   달서구
227  2771000000  대구 달성군    대구   달성군
228  2714000000   대구 동구    대구    동구
229  2723000000   대구 북구    대구    북구

[230 rows x 4 columns]

In [4]:
item = get_api('2717000000')
df = pd.DataFrame(item)
df

,tm,totalCityName,doName,cityName,cityAreaId,kmaTci,TCI_GRADE
0,2023-05-01 00:00,대구 서구,대구,서구,2717000000,0.31,좋음
1,2023-04-30 00:00,대구 서구,대구,서구,2717000000,-0.29,나쁨
2,2023-04-29 00:00,대구 서구,대구,서구,2717000000,-0.53,나쁨
3,2023-04-28 00:00,대구 서구,대구,서구,2717000000,0.36,매우좋음
4,2023-04-27 00:00,대구 서구,대구,서구,2717000000,0.29,좋음
5,2023-04-26 00:00,대구 서구,대구,서구,2717000000,-0.05,보통
6,2023-04-25 00:00,대구 서구,대구,서구,2717000000,-0.81,나쁨
7,2023-04-24 00:00,대구 서구,대구,서구,2717000000,0.03,보통
8,2023-04-23 00:00,대구 서구,대구,서구,2717000000,-0.11,보통
9,2023-04-22 00:00,대구 서구,대구,서구,2717000000,0.02,보통